<%= simple_form_for [:staff, @document.division.department, @document.division, @document] do |f| %>
  <%= f.input :title %>
  <%= f.input :front %>
  <%= f.input :back %>

  <div class='d-flex'>
    <%= link_to t('views.links.back'), staff_department_division_documents_path(@document.division.department, @document.division), class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>