<p id="notice"><%= notice %></p>


<div class="row mr-5">
  <div class="col-8"><h4>Departamentos</h4></div>
  <div class="col-4 align-self-center">
    <%= link_to new_admin_department_path, class: 'btn btn-primary mr-5 btn-new' do %>
      <i class="fe fe-plus text-tertiary"></i>
    <% end %>
  </div>

</div>
<div class="row">
  <% @departments.each do |department| %>
    <div class="col-sm-12 col-md-12 col-lg-6 our-team">
      <div class="our-team-main">

        <div class="team-front">
          <div class="bg-initials bg-primary">
            <img src="http://placehold.it/110x110/FF6600/FF0?text=<%= department.initials %>" class="img-fluid"/>
            <h4 class="text-tertiary"><%= department.name %></h4>
          </div>
          <div class="infos">
            <div class="row">
              <div class="col-3 text-center"><i class="fe fe-user text-tertiary "></i></div>
              <div class="col-9"><%= department.responsible %></div>
            </div>
            <div class="row">
              <div class="col-3 text-center"><i class="fe fe-phone text-tertiary"></i></div>
              <div class="col-9"><%= department.phone %></div>
            </div>
            <div class="row">
              <div class="col-3 text-center"><i class="fe fe-mention text-tertiary"></i></div>
              <div class="col-9"><%= department.email %></div>
            </div>
            <div class="row">
              <div class="col-3 text-center"><i class="fe fe-location text-tertiary"></i></div>
              <div class="col-9"><%= department.local %></div>
            </div>
          </div>
        </div>
        <div class="team-back">
	<span>
      <div class="d-flex justify-content-center align-self-center">
        <%= link_to 'Visualizar', admin_department_path(department), class: "btn btn-outline-primary mr-1" %>
        <%= link_to 'Editar', edit_admin_department_path(department), class: "btn btn-outline-warning mr-1" %>
        <%= link_to 'Deletar', admin_department_path(department), method: :delete, class: "btn btn-outline-danger mr-1", data: {confirm: 'Are you sure?'} %>
      </div>
	</span>
        </div>
      </div>
    </div>
  <% end %>
</div>

