<% provide(:head_title, t('views.pages.manager', resource: t('views.names.member.plural'))) %>
<% provide(:page_title, t('views.pages.manager', resource: t('views.names.member.plural'))) %>

<div class="form-group">
  <%= simple_form_for(:member, url: admin_department_members_path(@department),
                      method: :post) do |f| %>
    <fieldset class="form-fieldset">
      <legend class="w-auto"><%= t('views.fieldset.members.add') %> <%= @department.initials %></legend>

      <div class="row gutters-xs">
        <div class="col">
          <%= f.input :user,
                      collection: @no_members,
                      class: 'form-control custom-select',
                      label: t("activerecord.attributes.department.member.user") %>
        </div>
        <div class="col">
          <%= f.input :role,
                      collection: @roles,
                      class: 'form-control custom-select',
                      label: t("activerecord.attributes.department.member.role") %>
        </div>

        <span class="col-auto mt-4 pt-3">
      <%= button_tag(type: 'submit', class: 'btn btn-primary',
                     'data-toggle': "tooltip", 'data-placement': "bottom",
                     'title': "Adicionar Membro") do %>
        <i class="fe fe-user-plus"></i>
        <% end %>
      </span>
      </div>
    </fieldset>
  <% end %>
</div>
<fieldset class="form-fieldset">
  <legend class="w-auto"><%= t('views.fieldset.members.member') %></legend>
  <div class="row">
    <div class="col">
      <% @members.each do |member| %>
        <div class="col tag mt-1">
        <span class="col-6">
          <%= member.name %>
        </span>
          <span class="col-5 tag-addon tag-info">
          <%= member.role_by(@department).name %>
        </span>
          <%= link_to admin_department_remove_member_path(@department, member),
                      method: :delete, class: 'col-1 tag-addon' do %>
            <i class="fe fe-x"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</fieldset>