<h3>Novo Departamento</h3>
<%= simple_form_for(@department, url: admin_departments_path) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, error: 'Nome é obrigatório, por favor insira um.' %>
    <%= f.input :initials %>
    <%= f.input :description %>
    <%= f.input :local %>
    <%= f.input :phone, as: :tel, input_html: { maxlength: 14, 'data-mask': '(42)4321-5678' } %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :responsible %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= link_to 'Voltar', admin_departments_path %>
