<%= render 'layouts/shared/sidebar' do %>

  <span class="sidebar-heading pl-0 pt-2 pb-2">
    <%= icon('fas', 'user-cog', class: 'mr-2') %>
    <%= t('views.sidebar.titles.admin') %>
  </span>

  <%= active_link_to(admin_root_path, active: :exact, class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <%= icon('fas', 'home') %>
    </span>
    <%= t('views.sidebar.home') %>
  <% end %>
  <%= active_link_to(admin_departments_path, active: :inclusive, class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <%= icon('fas', 'building') %>
    </span>
    <%= t('views.sidebar.departments') %>
  <% end %>
  <%= active_link_to(admin_users_path, active: :inclusive, class: 'list-group-item list-group-item-action') do %>
    <span class="icon mr-2">
      <%= icon('fas', 'users') %>
    </span>
    <%= t('views.sidebar.server') %>
  <% end %>

<% end %>
