<%= provide(:page_title, t('devise.registration.edit')) %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                label_html: { class: 'form-label' } %>
    <%= f.input :cpf,
                required: true,
                autofocus: true,
                label_html: { class: 'form-label' } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                label_html: { class: 'form-label' } %>
    <%= f.input :alternative_email,
                required: true,
                autofocus: true,
                label_html: { class: 'form-label' } %>
    <%= f.input :kind, as: :radio_buttons, collection: Client.human_kinds,
                item_wrapper_class: 'inline custom-control custom-radio custom-control-inline' %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length}  #{t('devise.registration.password_character_length')}" if @minimum_password_length),
                label_html: { class: 'form-label' } %>
    <%= f.input :password_confirmation,
                required: true,
                label_html: { class: 'form-label' } %>
    <%= f.input :current_password,
                hint: t('devise.registration.current_password'),
                required: true,
                label_html: { class: 'form-label' } %>
  </div>

  <div class='text-right'>
    <%= f.button :submit, t('helpers.buttons.update'), class: 'btn btn-primary' %>
  </div>
<% end %>

<p class="mt-5"> <%= link_to "Desativar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
