<% provide(:title, t('devise.registrations.new.sign_up')) %>
<% provide(:head_title, t('devise.registrations.new.sign_up')) %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :cpf %>
  <%= f.input :email %>
  <%= f.input :alternative_email %>
  <%= f.input :kind, as: :radio_buttons_tabler, collection: Client.human_kinds %>
  <%= f.input :password,
    hint: ("#{@minimum_password_length}  #{t('devise.passwords.character_length')}" if @minimum_password_length) %>
  <%= f.input :password_confirmation %>

  <div class="text-right">
    <%= f.button :submit, t('devise.registrations.new.buttons.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'participants/clients/shared/links' %>
