<p id="notice"><%= notice %></p>


<div class="row mr-5">
  <div class="col-8"><h4>Departamentos</h4></div>
  <div class="col-4 align-self-center"><%= link_to 'Novo Departamento', new_admin_department_path, class: 'btn btn-outline-success mr-5' %></div>

</div>
<div class="row">
  <% @departments.each do |department| %>
    <!--team-1-->
    <div class="col-lg-4 our-team">
      <div class="our-team-main">

        <div class="team-front">
          <div class="bg-initials">
            <img src="http://placehold.it/110x110/ffd633/000?text=<%= department.initials %>" class="img-fluid"/>
            <h3 style="color: white"><%= department.name %></h3>
          </div>
          <div class="infos">
          <p>Responsável: <%= department.department_responsible %></p>
          <p class="itens-p">Telefone: <%= department.phone %></p>
          <p class="itens-p">Email: <%= department.department_email %></p>
          <p class="itens-p">Local: <%= department.local %></p>
          </div>
        </div>

        <div class="team-back">
	<span>
      <div class="d-flex justify-content-center align-self-center">
        <%= link_to 'Visualizar', admin_department_path(department), class: "btn btn-outline-primary mr-1" %>
        <%= link_to 'Editar', edit_admin_department_path(department), class: "btn btn-outline-warning mr-1" %>
        <%= link_to 'Deletar', admin_department_path(department), method: :delete, class: "btn btn-outline-danger mr-1", data: {confirm: 'Are you sure?'} %>
      </div>
	</span>
        </div>

      </div>
      <!--team-1-->

    </div>
  <% end %>
</div>

