<p id="notice"><%= notice %></p>

<p>Nome: <%= @department.name %></p>
<p>Sigla: <%= @department.initials %></p>
<p>Local: <%= @department.local %></p>
<p>Telefone: <%= @department.phone %></p>
<p>Email do Departamento: <%= @department.department_email %></p>
<p>Responsável pelo Departamento: <%= @department.department_responsible %></p>
<p>Descrição: <%= @department.description %></p>

<%= link_to 'Edit', edit_admin_department_path(@department) %> |
<%= link_to 'Back', admin_department_index_path %>
