<div class="row row-cards">

  <div class="col-sm-6 col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red mr-3">
          <%= icon('fas', 'user-cog') %>
        </span>
        <div>
          <h4 class="m-0"><%= link_to t('views.home.admin.access'), new_user_session_path %></h4>
          <small class="text-muted"><%= t('views.names.admin.plural') %></small>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue mr-3">
          <i class="fas fa-users-cog"></i>
        </span>
        <div>
          <h4 class="m-0"><%= link_to t('views.home.server.access'), new_user_session_path %></h4>
          <small class="text-muted"><%= t('views.names.server.plural') %></small>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <%= icon('fas', 'users') %>
        </span>
        <div>
          <h4 class="m-0"><%= link_to t('views.home.client.access'), new_client_session_path %></h4>
          <small class="text-muted"><%= t('views.names.client.plural') %></small>
        </div>
      </div>
    </div>
  </div>

</div>

