<%= simple_form_for [:admin, @document], html: { multipart: true } do |f| %>

  <%= f.input :kind, as: :radio_buttons, collection: Document.human_kinds,
              item_wrapper_class: 'inline custom-control custom-radio custom-control-inline' %>

  <%= f.input :description, as: :summernote %>
  <%= f.input :activity, as: :summernote %>

<%= f.label :participants%>
  <ul class="nav nav-tabs" id="nav-tab">
    <li class="nav-item active "><a class="nav-link" data-toggle="tab" href="#input">Campo</a></li>
    <li class="nav-item "><a class="nav-link" data-toggle="tab" href="#file">Arquivo </a></li>
  </ul>
  <div class="tab-content m-5">
    <div id="file" class="tab-pane fade in active">
      <div class="row">
        <div class="col-6">
          <div class="custom-file">
            <%= f.input :participants, as: :file, label_html: { class: 'custom-file-label' }, html: { class: "custom-file-input" } %>
          </div>
        </div>
        <div class="col-6 align-self-center">
          <%= link_to "Modelo", "/modelo.csv" %>
        </div>
      </div>
    </div>
    <div id="input" class="tab-pane fade">
      <div id='client_documents'>
        <%= f.simple_fields_for :client_documents do |client| %>
          <%= render 'client_document_fields', :f => client %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association f, :client_documents,
                                      title: 'Adicionar Participantes',
                                      data: { toggle: 'tooltip', placement: 'top' },
                                      class: 'btn btn-secondary',
                                      partial: 'client_document_fields' do %>
            <i class="fe fe-plus"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= f.input :user_ids, collection: @users, input_html: { multiple: true } %>
  <div class='d-flex'>
    <%= link_to t('helpers.links.all.m', model: t('activerecord.models.document.other')),
                admin_documents_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
    <%= f.button :button, t('helpers.buttons.preview'), name: 'preview_button' %>
  </div>

  <% if @document.valid? %>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <%= render 'pdf', document: @document %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('helpers.buttons.close') %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
