<% provide(:head_title, t('activerecord.models.document.other')) %>
<% provide(:page_title, t('activerecord.models.document.other')) %>

<div class="table-responsive">
  <table class="table table-data card-table table-center text-nowrap">
    <thead>
    <tr>

      <th><%= t('activerecord.attributes.document.title') %></th>
      <th><%= t('activerecord.attributes.document.kind') %></th>
      <th><%= t('activerecord.attributes.document.subscription') %></th>

      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @user_documents.each do |ud| %>
      <tr>
        <td><%= ud.document.title %></td>
        <td><%= t("enums.kinds.#{ud.document.kind}") %></td>
        <td><%= t("helpers.boolean.document.#{ud.subscription }") %></td>
        <td>
          <a title="<%= t('activerecord.models.client.other') %>" class="icon" data-toggle="modal" href="#<%= ud.document.title.titleize.delete(' ') %>">
            <i class="fe fe-user"></i>
          </a>
          <%= link_to admin_user_documents_sign_path(ud.document.id),
                      method: :get,
                      class: 'icon',
                      title: t('helpers.links.subscription',
                               model: t('activerecord.models.document.one')),
                      data: { toggle: 'tooltip', placement: 'top' } do %>
            <i class="fe fe-edit-3"></i>
          <% end %>
          <%= link_to admin_document_path(ud.document.id),
                      method: :get, class: 'icon',
                      title: t('helpers.links.show.m',
                               model: t('activerecord.models.document.one')),
                      data: { toggle: 'tooltip', placement: 'top' } do %>
            <i class="fe fe-eye"></i>
          <% end %>
        </td>
      </tr>

    <% end %>
    </tbody>
  </table>
</div>


<% @user_documents.each do |ud| %>
  <!-- Modal -->
  <%= render  'modal_participants', udd: ud  %>
<% end %>


