<% provide(:head_title, t('activerecord.models.document.other')) %>
<% provide(:page_title, t('activerecord.models.document.other')) %>


<div class="table-responsive">
  <table class="table table-data card-table table-vcenter text-nowrap">
    <thead>
    <tr>

      <th><%= t('activerecord.attributes.document.users') %></th>
      <th><%= t('activerecord.attributes.document.kind') %></th>
      <th><%= t('activerecord.attributes.document.date') %></th>

      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @user_documents.each do |ud| %>
      <tr>
        <td><%= truncate(ud.document.description, length: 50) %></td>
        <td><%= t("enums.kinds.#{ud.document.kind}") %></td>
        <td><%= ud.subscription %></td>
        <td>
          <%= link_to admin_users_documents_sign_path(ud),
                      method: :put,
                      class: 'icon',
                      title: t('helpers.links.show.m',
                               model: t('activerecord.models.document.one')),
                      data: { toggle: 'tooltip', placement: 'top' } do %>
            <i class="fe fe-edit-3"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">
  <%#= paginate @user_document %>
</div>