<%= simple_form_for [:staff, @division.department, @division] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>

  <div class='d-flex'>
    <%= link_to t('views.links.back'), staff_department_divisions_path(@division.department), class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>