<% provide(:head_title, "Registrar-se") %>
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <h2>Registrar Usuário</h2>
          <%= simple_form_for(@user, url: admin_user_registration_index_path, method: :post) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :name, autofocus: true %>

              <%= f.input :username, label: "Email Institucional" do %>
                <div class="input-group">
                  <%= f.input_field :username, class: "form-control" %>
                  <span class="input-group-append"><span class="input-group-text">@utfp.edu.br</span></span>
                </div>
              <% end %>
              <%= f.input :alternative_email, autofocus: true %>
              <%= f.input :registration_number %>
              <%= f.input :cpf %>
              <%= f.input :active, as: :checkbox_tabler %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Cadastrar" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>