<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:head_title)) %> </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="page">
  <div class="page-main">
      <%= render 'admin/layouts/navtop' %>
      <%= render 'admin/layouts/navbottom' %>
    <div class="my-3 my-md-5">
      <div class="container">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
