<%= simple_form_for(@user, url: [:admin, @user]) do |f| %>

  <fieldset class="form-fieldset">
    <legend class="w-auto"><%= t('views.fieldset.personal_data') %></legend>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, autofocus: true %>
      </div>
      <div class="col-sm-6">
        <%= f.input :cpf %>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-fieldset">
    <legend class="w-auto"><%= t('views.fieldset.institutional') %></legend>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :username do %>
          <div class='input-group'>
            <%= f.input_field :username, class: 'form-control' %>
            <span class='input-group-text'>@utfpr.edu.br</span>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= f.input :alternative_email %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :registration_number %>
      </div>
      <div class="col-sm-3">
        <label class="form-control-label" for="user_active">Status</label>
        <%= f.input :active, as: :checkbox_tabler %>
      </div>
      <div class="col-sm-3">
        <label class="form-control-label" for="user_admin">Permisão</label>
        <%= f.input :admin, as: :checkbox_tabler %>
      </div>
    </div>
  </fieldset>

  <div class='d-flex'>
    <%= link_to t('views.links.back'), admin_users_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>

<% end %>
