<% provide(:head_title, t('views.pages.show', resource: t('views.names.server.singular'))) %>
<% provide(:page_title, t('views.pages.show', resource: t('views.names.server.singular'))) %>

<div class="card card-profile">
  <div class="card-body">

    <h3 class="mb-4"><%= @user.name %></h3>
    <p class="mb-3">
      <span class="text-muted"><%= t('activerecord.attributes.user.username') %>:</span>
    <%= @user.username %></p>
    <p class="mb-3">
      <span class="text-muted"><%= t('activerecord.attributes.user.email') %>:</span>
      <%= @user.email %>
    </p>
    <p class="mb-3">
      <span class="text-muted"><%= t('activerecord.attributes.user.alternative_email') %>:</span>
      <%= @user.alternative_email %>
    </p>
    <p class="mb-3">
      <span class="text-muted"><%= t('activerecord.attributes.user.registration_number') %>:</span>
      <%= @user.registration_number %>
    </p>
    <p class="mb-3">
     <span class="text-muted"> <%= t('activerecord.attributes.user.cpf') %>:</span>
      <%= @user.cpf.pretty %>
    </p>
    <p class="mb-3">
      <span class="text-muted"><%= t('activerecord.attributes.user.active') %>:</span>
      <%= t("views.boolean.#{@user.active}") %>
    </p>
    <p class="mb-3">
      <span class="text-muted"><%= t('activerecord.attributes.user.admin') %>:</span>
      <%= t("views.boolean.#{@user.admin}") %>
    </p>

  </div>
</div>

<div class="d-flex">
  <%= link_to t('views.links.back'), admin_users_path, class: 'btn btn-secondary' %>
</div>
