<tr>
  <td><%= document_client.cpf %> </td>
  <td>
    <%= link_to staff_department_division_document_document_client_path(@dept, @div, @doc, document_client) do %>
      <%= icon('fas', 'search', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.show')) %>
    <% end %>
    <%= link_to edit_staff_department_division_document_document_client_path(@dept, @div, @doc, document_client) do %>
      <%= icon('fas', 'edit', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.edit')) %>
    <% end %>
    <%= link_to staff_department_division_document_document_client_path(@dept, @div, @doc, document_client), method: :delete, data: { confirm: t('views.prompt.confirm') } do %>
      <%= icon('fas', 'trash', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.destroy')) %>
    <% end %>
  </td>
</tr>
